* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Otomanopee One', sans-serif;
}

a, p {
  font-family: 'Roboto', sans-serif;
}

.cont {
  width: 100%;
  height: 100vh;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[11] 5px;
      grid-template-rows: repeat(11, 1fr) 5px;
  -ms-grid-columns: (1fr)[4] 5px;
      grid-template-columns: repeat(4, 1fr) 5px;
}

.cont nav {
  height: 10vh;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.cont nav .sbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cont nav .sbar .scont {
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% (1fr)[3];
      grid-template-columns: 10% repeat(3, 1fr);
  -ms-grid-rows: 10% (1fr)[3];
      grid-template-rows: 10% repeat(3, 1fr);
}

.cont nav .sbar .scont .s-icon1 {
  width: 25px;
  height: 25px;
  background: none;
  border: 3.5px solid #ffffff;
  border-radius: 50%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-shadow: -2px 1px 10px 1px rgba(255, 255, 255, 0.35);
          box-shadow: -2px 1px 10px 1px rgba(255, 255, 255, 0.35);
}

.cont nav .sbar .scont .s-icon2 {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: -1px 1px 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: -1px 1px 5px 1px rgba(255, 255, 255, 0.5);
}

.cont nav .nlc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  padding-right: 40px;
}

.cont nav .nlc .nl, .cont nav .nlc .s-btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  background: none;
  margin-right: 50px;
}

.cont nav .nlc .nlble {
  margin-right: 0;
  color: #fafafa;
  background: #120085;
  padding: 10px 15px 10px 15px;
  border-radius: 3pt;
}

.cont .aa-a {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2/12;
  display: -ms-grid;
  display: grid;
}

.cont .aa-b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2/12;
  position: relative;
  background: #000000;
}

.cont .aa-b .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cont .aa-b .bg svg {
  width: 100%;
  height: 100%;
  background: black;
  mix-blend-mode: difference;
}

.cont .aa-b .aa-b-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.cont .aa-b .aa-b-con .vrh {
  position: absolute;
  top: 50px;
  right: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 35%;
}

.cont .aa-b .aa-b-con header {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 3;
}

.cont .aa-b .aa-b-con header h1 {
  font-size: 500%;
}

.cont .aa-b .aa-b-con header p {
  font-size: 130%;
}

.cont .aa-b .aa-b-con .ab-t {
  position: absolute;
  top: 52%;
  left: 38%;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: black;
  color: white;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cont .aa-b .aa-b-con .ab-t:hover {
  scale: 1.1;
}

.cont .aa-b .aa-b-con .ab-t p {
  margin-top: 20px;
}

.cont .aa-b .aa-b-con .ab-t button {
  margin-top: 20px;
  color: #fafafa;
  background: #120085;
  padding: 10px 15px 10px 15px;
  border-radius: 3pt;
  outline: none;
  border: none;
}

.cont .aa-b .aa-b-con .launch {
  position: absolute;
  left: 50px;
  top: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cont .aa-b .aa-b-con .launch p {
  padding-top: 30px;
  padding-left: 20px;
}

.cont .aa-b .aa-b-con .launch p a {
  text-decoration: none;
  color: #120085;
}
/*# sourceMappingURL=news.css.map */