* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

h1, h2, h3, h4, h5, h6, a, p, label {
    font-family: 'Roboto', sans-serif;
  }

.cont {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: repeat(11, 1fr) 5px;
    grid-template-columns: repeat(4, 1fr) 5px;

    nav {
        height: 10vh;
        grid-column: 2/5;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        // search bar
        .sbar {
            align-self: center;

            // search icon 
            .scont {
                width: 50px;
                height: 50px;
                display: grid;
                grid-template-columns: 10% repeat(3,1fr);
                grid-template-rows: 10% repeat(3, 1fr);

                .s-icon1 {
                    width: 25px;
                    height: 25px;
                    background: none;
                    border: 3.5px solid #ffffff;
                    border-radius: 50%;
                    grid-column: 3/4;
                    grid-row: 3/4;
                    box-shadow: -2px 1px 10px 1px rgba(255, 255, 255, 0.35);
                }

                .s-icon2 {
                    width: 5px;
                    height: 5px;
                    background: #ffffff;
                    border-radius: 50%;
                    grid-column: 4;
                    grid-row: 4;
                    justify-self: start;
                    align-self: flex-start;
                    box-shadow: -1px 1px 5px 1px rgba(255, 255, 255, 0.5);
                }
            }
        }

        // nav links 
        .nlc {
            align-self: center;
            justify-self: flex-end;
            padding-right: 40px;

        .nl, .s-btn {
          text-decoration: none;
          color: rgb(255, 255, 255);
          font-size: 15px;
          outline: none;
          border: none;
          background: none;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-right: 50px;
        }

        .nlble {
          margin-right: 0;
          color: rgb(250, 250, 250);
          background: #120085;
          padding: 10px 15px 10px 15px;
          border-radius: 3pt;
        }
      }
    }

    .aa-a {
        grid-column: 1;
        grid-row: 2/12;
        display: grid;
        background: white;
        height: 98%;
        width: 100%;
        justify-self: flex-end;

        .carosel {
          height: 90%;
          width: 100%;
          align-self: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-content: space-around;

          img {
            height: 40%;
          }
        }
    }

    .aa-b {
        grid-column: 2/5;
        grid-row: 2/12;
        position: relative;
        background: #000000;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            svg {
                width: 100%;
                height: 100%;
                background: black;
                mix-blend-mode: difference;
            }
        }

        .aa-b-con {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;

            .vrh {
                position: absolute;
                top: 20px;
                right: 40px;
                transform: rotate(15deg);
                width: 35%;
            }

            header {
                position: absolute;
                top: 20%;
                left: 30%;
                z-index: 3;
                h1 {
                    font-size: 500%;
                }
                p {
                    font-size: 130%;
                }
            }


            .ab-t {
                position: absolute;
                top: 52%;
                left: 38%;
                width: 300px;
                height: 300px;
                padding: 20px;
                display: flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                background: rgb(0, 0, 0);
                color: white;
                z-index: 1;
                transform: rotate(-20deg);
                transition: all 0.5s ease;

                &:hover {
                    scale: 1.1;
                }
                
                p {
                    margin-top: 20px;
                }

                button {
                    margin-top: 20px;
                    color: rgb(250, 250, 250);
                    background: #120085;
                    padding: 10px 15px 10px 15px;
                    border-radius: 3pt;
                    outline: none;
                    border: none;
                }
            }

            .launch {
                position: absolute;
                left: 100px;
                top: -10px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                p {
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: #120085;
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 800px) {
    
}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    
    .containermodal {
        width: 100%;
        height: 100%;
        display: grid;
        pointer-events: none;
    }
  
    form {
        pointer-events: all;
        align-self: center;
        justify-self: center;
      position: relative;
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
  
      .imgcontainer {
        width: 200px;
        height: 200px;
  
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 2%;
  
    .input {
      margin-top: 2%;
      width: fit-content;
      height: 50%;
      width: 100%;
      outline: none;
      padding: 20px;
      border: solid 1px black;
    }
  
    button {
      text-decoration: none;
      font-size: 15px;
      outline: none;
      border: none;
      background: none;
      padding: 20px;
      color: rgb(250, 250, 250);
      background: #120085;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 7.5px 5px 7.5px;
      border-radius: 3pt;
    }
  
    a {
      text-decoration: none;
      color: #120085;
    }
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin-top: 5%; /* 15% from the top and centered */
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
 /* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: -20%;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {margin-left: 50%;}
    to {margin-right: 0;}
  }
  
  @keyframes animatezoom {
    from {margin-left: 50%;}
    to {margin-right: 0;}
  }
  
