@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p {
  cursor: default;
}

body {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  background: #E5E5E5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 1% 4.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  align-items: center;
}

body nav .logo {
  height: 100%;
  border: none;
  outline: none;
}

body nav .logo .logoimg {
  width: 100%;
}

body nav .nav-r {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .nav-r .nav-ls {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .nav-r .nav-ls .nav-l {
  font-size: 110%;
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
}

body nav .nav-r .cart {
  font-size: 110%;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav-r .cart i {
  padding-right: 20%;
}

body nav .nav-r .usimg {
  height: 80%;
}

body .btn {
  width: 25%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .btn div {
  width: 90%;
  height: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10%;
  font-size: 240%;
}

body .btn .bl {
  background: #001074;
  color: white;
}

body .items-con {
  margin-top: 2.5%;
  width: 75%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .items-con .item {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5%;
  background: #e9e9e9;
  border-top-left-radius: 1em;
  height: 370px;
}

body .items-con .item img {
  margin-top: 5%;
  height: 60%;
  width: 100%;
  border-top-left-radius: 1em;
}

body .items-con .item .detials {
  margin: 5% 0 0 5%;
}

body .items-con .item .detials p {
  margin-top: 5%;
  color: #585858;
}

@media screen and (max-width: 700px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 15% 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body nav {
    height: 8%;
    padding: 0.5% 0.5%;
    position: fixed;
  }
  body nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav .logo .logoimg {
    width: 50%;
  }
  body nav .nav-r {
    padding: 0 0 0 5%;
    width: 85%;
    font-size: 80%;
  }
  body nav .nav-r .nav-ls {
    width: 80%;
  }
  body nav .nav-r .usimg {
    height: 50%;
  }
  body .btn {
    width: 100%;
    height: 6%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .btn div {
    width: 30%;
    height: 100%;
    padding: 0;
    font-size: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .items-con {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
  }
  body .items-con .item {
    width: 46%;
  }
}
/*# sourceMappingURL=services.css.map */