* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

h1, h2, h3, h4, h5, h6, a, p, label {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, p, label {
  font-weight: 100;
}

.cont {
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    background: white;
    grid-template-columns: 50px 1fr 3fr 5px;
    grid-template-rows: repeat(12, 1fr) 5px;
    

  a {
    grid-column: 2/3;
    align-self: center;
    padding-top: 15px;

    svg {
      fill: #000000;
      height: 40.66px;
      width: 40.77px;
    }
  }

    // nav 
    nav {
      width: 100%;
      height: 10vh;
      display: grid;
      grid-column: 3/4;
      grid-row: 1/2;
      grid-template-columns: repeat(2, 1fr) 2%;
      grid-template-rows: repeat(3, 1fr);
      z-index: 3;

      // search bar 
      .sbar {
        grid-row: 2/3;

        // search icon 
        .scont {
          width: 50px;
          height: 50px;
          display: grid;
          grid-template-columns: 10% repeat(3, 1fr);
          grid-template-rows: 10% repeat(3, 1fr);
  
  
          .s-icon1 {
            width: 25px;
            height: 25px;
            background: rgba(255, 255, 255, 0);
            border: 3.5px solid #000000;
            border-radius: 50%;
            grid-column: 3/4;
            grid-row: 3/4;
            box-shadow: -2px 4px 5px 1px rgba(0, 0, 0, 0.2);
          }
  
          .s-icon2 {
            width: 5px;
            height: 5px;
            background: #000000;
            border-radius: 50%;
            grid-column: 4;
            grid-row: 4;
            justify-self: start;
            align-self: flex-start;
            box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }


      // nav links
      .nl-cont {
        grid-row: 2/3;
        grid-column: 2;
        align-self: center;
        justify-self: flex-end; 

        .nl, .s-btn {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 15px;
          outline: none;
          border: none;
          background: none;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-right: 50px;
        }

        .nlble {
          margin-right: 0;
          color: rgb(250, 250, 250);
          background: #120085;
          padding: 10px 15px 10px 15px;
          border-radius: 3pt;
        }
      }
    }


    // border styling
    .b-lr {
      border-top-left-radius: 8pt;
      border-top-right-radius: 8pt;
      border-top-left-radius: 8pt;
      border-top-right-radius: 8pt;
    }

    // content left
    .a {
      grid-column: 2/3;
      grid-row: 2/9;
      padding: 10px;
      position: relative;
   
      :nth-child(1) {
        color: black;
      }

      :nth-child(2) {
        outline: none;
        border: none;
        color: rgb(255, 255, 255);
        background: #120085;
        padding: 10px 20px 10px 20px;
        margin-top: 50px;
        border-radius: 3pt;
      }

      :nth-child(3) {
        margin-top: 20px;
      }
    }

    .nf {
      position: absolute;
      bottom: 3%;
      left: 5%;
      width: 3.5%;
      height: 40%;
      padding-top: 1%;
      padding-bottom: 1%;
      background: #f3f3f3;
      box-shadow: 5px 10px 30px 10px #0000008c;
      z-index: 3;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      transition: all 0.5s ease;

      &:hover {
        width: 26%;

        .icon img {
          justify-self: flex-start;
        }
      }

      .icon {
        width: 90%;
        height: 12%;
        margin-left: 10%;
        margin-top: 3%;
        display: grid;
         img {
           width: 25px;
           align-self: center;
           justify-self: center;
         }
      }

    }

    .nf2 {
      display: none;
    }

    // content right 
    .aa {
      grid-column: 3/4;
      grid-row: 2/13;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      background: black;
      color: #ffffff;
      box-shadow: -1px 40px 30px 10px #000000b2;
      
      .aaa {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        .circle{
          width: 100px;
          height: 100px;
          background: #ffffff;
          border-radius: 50%;
          grid-column: 3/4;
          margin-top: -12%;
          justify-self: center;
          box-shadow:  inset -6 -20 20px 10px rgb(0, 0, 0);
        }

        .aa-btn {
          grid-row: 2/3;
          width: 50px;
          height: 50px;
          margin-left: 50px;

          .btn-a {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .btn-a-c {
              grid-column: 1/2;
              grid-row: 1/2;
              display: grid;
              grid-template-columns: 1fr 25px 1fr;

              width: 25px;
              height: 100%;

              .dot-c1, .dot-c2 {
                width: 100%;
                height: 50px;
                display: grid;

                :nth-child(1) {
                  grid-row: 1/2;
                }
                :nth-child(2) {
                  grid-row: 2/3;
                }
                :nth-child(3) {
                  grid-row: 3/4;
                }
              }

              .dot {
                width: 10px;
                height: 10px;
                background: #ffffff;
                border-radius: 50%;
                align-self: flex-end;
                justify-self: center;
              }
            }
          }
        }
      }

      .logo {
        grid-column: 3/4;
        justify-self: flex-end;
        padding-right: 35px;

        svg {
          fill: #ffffff;
          height: 40.66px;
          width: 40.77px;
        }
      }

      // page content
      .aa-pcon {
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        margin-top: 30px;
        padding: 2%;
        padding-top: 10px;
        padding-left: 8%;
        padding-right: 40px;
        margin-right: 5px;
        grid-row: 2/6;
        justify-self: flex-end;


        header {
          width: 90%;
          height: 360px;
          display: grid;
          grid-template-columns: 1fr 1fr;
        

          .kick {
            align-self: flex-start;
            justify-self: end;
            filter: grayscale(0.5);
            width: 50%;
            height: 100%; 
          }

          h1 {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            position: sticky;
            font-size: 70px;
            padding-left: 30px;
          }
        }

        .pcon-con {
          text-align: center;
          mix-blend-mode: difference;
          background: rgba(0, 0, 0, 0.596);
          padding: 20px;
          padding-top: 40px;
          font-size: 20px;
          z-index: 2;
        }
      }
    }
      
      /* scroll bar styling,
          width */
      ::-webkit-scrollbar {
        width: 6px;
      }

      /* scroll Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(177, 177, 177);
        border-radius: 7pt;
      }

      // scroll bar track
    ::-webkit-scrollbar-track {
      width: 6px;
      border-radius: 7pt;
      background: rgba(255, 255, 255, 0.2);
    }

     /* scroll Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(94, 94, 94); 
      }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  form {
    position: relative;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    .imgcontainer {
      width: 200px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  .input {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    outline: none;
    padding: 20px;
    border: solid 1px black;
  }

  button {
    text-decoration: none;
    font-size: 15px;
    outline: none;
    border: none;
    background: none;
    padding: 20px;
    color: rgb(250, 250, 250);
    background: #120085;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 3pt;
  }

  a {
    text-decoration: none;
    color: #120085;
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin-top: 10%; /* 15% from the top and centered */
  margin-left: 22.5%;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: -20%;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {margin-left: 50%;}
  to {margin-right: 0;}
}

@keyframes animatezoom {
  from {margin-left: 50%;}
  to {margin-right: 0;}
}

@media screen and (max-width: 800px) {

  * {
    cursor: none;
  }

  .cursor {
    display: none;
  }

  .cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-end;

    #logo {
      position: absolute;
      top: 8px;
      left: 10px;
      svg {
        fill: #120085;
        transform: scale(0.6);
      }
    }

    nav {
      margin-top: 0;
      height: 8vh;
      width: 75%;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      background: white;

      // search bar 
      .sbar {
        grid-row: 2/3;

        // search icon 
        .scont {
          width: 30px;
          height: 50px;
          display: grid;
          grid-template-columns: 10% repeat(3, 1fr);
          grid-template-rows: 10% repeat(3, 1fr);
  
  
          .s-icon1 {
            width: 18.5px;
            height: 18.5px;
            border: 2.5px solid #000000;
          }
  
          .s-icon2 {
            width: 3px;
            height: 3px;
          }
        }
      }

      // nav links
      .nl-cont {
        justify-self: flex-start; 
        width: 100%;

        .nl, .s-btn {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 15px;
          outline: none;
          border: none;
          background: none;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-right: 0px;
          margin-right: 10%;
        }

        .nlble {
          display: none;
        }
      }
    }

    .a {
      display: none;
    }

    .aa {
      z-index: 2;
      width: 98.5%;
      height: 84vh;      
      grid-template-rows: repeat(12, 1fr);
      box-shadow: 5px 10px 16px 1px #0000008a;


      .aaa {
        height: 5vh;
        margin-top: 15px;
        

        .circle{
          // grid-row: 1/2;
          // width: 60px;
          // height: 60px;
          // margin-right: 50%;
          // margin-top: -25%;
          display: none;
        }

        .aa-btn {
          grid-row: 1/2;
          width: 25px;
          height: 40px;
          margin-left: 20px;

          .btn-a {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .btn-a-c {
              grid-column: 1/2;
              grid-row: 1/2;
              display: grid;
              grid-template-columns: 1fr 25px 1fr;
              width: 25px;
              height: 100%;

              .dot-c1, .dot-c2 {
                width: 100%;
                height: 100%;
                display: grid;

                :nth-child(1) {
                  grid-row: 1/2;
                }
                :nth-child(2) {
                  grid-row: 2/3;
                }
                :nth-child(3) {
                  grid-row: 3/4;
                }
              }

              .dot {
                width: 8px;
                height: 8px;
                background: #ffffff;
                border-radius: 50%;
                align-self: flex-end;
                justify-self: center;
              }
            }
          }
        }
      }

      .logo {
        grid-row: 1/2;
        grid-column: 3/4;
        justify-self: flex-end;
        padding-right: 0;
        margin-right: 12.5%;

        svg {
          transform: scale(0.6);
        }
      }

      // page content
    .aa-pcon {
      height: 99%;
      margin-top: 0px;
      padding-bottom: 1%;
      padding-top: 20px;
      padding-left: 2%;
      padding-right: 5px;
      grid-row: 2/13;


      header {
        width: 99%;
        height: 360px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      

        .kick {
          width: 100%;
        }

        h1 {
          font-size: 45px;
          padding-left: 30px;
        }
      }

      .pcon-con {
        text-align: center;
        mix-blend-mode: difference;
        background: rgba(0, 0, 0, 0.596);
        padding: 20px;
        padding-top: 40px;
        font-size: 12px;
        z-index: 2;
      }
    }
    }

    .nf {
      display: none;
    }

    .nf2 {
      display: flex;
      position: absolute;
      justify-content: space-around;
      bottom: 0;
      left: 0;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      height: 8vh;
      border-radius: 0;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      box-shadow: none;

      .icon {
        width: 90%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        display: grid;
        background: rgb(255, 255, 255);

         img {
           width: 30px;
           align-self: center;
           justify-self: center;
         }
      }

      &:hover {
        width: 100%;

        .icon img {
          justify-content: center;
        }
      }
    }
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  form {
    position: relative;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    .imgcontainer {
      width: 200px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-top: 10px;

  .input {
    margin-top: 20px;
    width: fit-content;
    height: 50%;
    width: 100%;
    outline: none;
    padding: 20px;
    border: solid 1px black;
  }

  button {
    text-decoration: none;
    font-size: 15px;
    outline: none;
    border: none;
    background: none;
    padding: 20px;
    color: rgb(250, 250, 250);
    background: #120085;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 3pt;
  }

  a {
    text-decoration: none;
    color: #120085;
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin-top: 22.5%; /* 15% from the top and centered */
  margin-left: 4%;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  display: none;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {margin-left: 50%;}
  to {margin-right: 0;}
}

@keyframes animatezoom {
  from {margin-left: 50%;}
  to {margin-right: 0;}
}
}


@media screen and (min-width: 550px) {
   
  nav {
    .nl-cont {
      display: flex;
      justify-content: flex-end;
    }
  }

}